{var $robots = noindex}
{var $title = 'Group Management'}

{block content}
    {control settingMenu}

    {form groupForm}
        {control $form errors}

        <div id="form-main">
            {ifset $id}
                <h2>{_'Edit Group'}</h2>
            {else}
                <h2>{_'New Group'}</h2>
            {/ifset}
            {label alias /}<br>{input alias} {input type}
        </div>
        <div id="form-add">
            <div class="form-add-h3">
                {ifset $id}
                    {label cancel /}{input cancel}
                    {label edit /}{input edit}
                {else}
                    {label save /}{input save}
                {/ifset}
            </div>
            <span>
             {label state /}<br>{input state} <span n:snippet="passcode">{var $_form = $presenter['groupForm']} {input passcode}</span>
            </span>
        </div>
        <div id="form-full">
            {label text /}<br>{input text}
        </div>
        <div id="form-button">
            {ifset $id}
                {label cancel /}{input cancel}
                {label edit /}{input edit}
            {/ifset}
            {label save /}{input save}
        </div>
    {/form}

    {form groupList class => 'ajax'}
    <table n:snippet="table" class="table-group ajax">
        <thead class="list">
            <th colspan="3">
                <h2>{_'Groups'} ({$countGroups})</h2>
            </th>
            <th colspan="1" class="icon">    
            {if $countGroups > 0}
                {input delete}
                {input publish}
                {input selectAll}
            {/if}
            </th>
        </thead>
        <tbody n:snippet="list" class="list ajax">
            {dump $groups}
            {if $countGroups > 0}
                {foreach $groups as $group}
                    <tr id="item_{$group->id}" n:class="$iterator->isOdd() ? 'odd sortable' : 'even sortable'">
                    <td class="{$group->state}" style="width: 400px;"><a href="{plink default $group->id}"><h3>{_$group->alias}</h3></a></td>
                    <td class="{$group->state} noicon bottom" style="width: 250px;" class="publish"><p>{_$group->text}</p></td>
                    <td class="{$group->state} noicon bottom" style="width: 200px;">
                        <p>{_'Type'}: {$group->type}</p>
                        <p n:if="$group->user_name">{_'username'}: {$group->user_name}</p>
                        <p n:if="$group->passcode">{_'Passcode'}: {$group->passcode}</p>
                    </td>

                    <td class="bottom" style="width: 100px;">{input select-{$group->id}}</td>
                    </tr>
                {/foreach}
            {else}
                <tr>
                    <td colspan="4" class="nohover noicon"><p>{_'Please creat at least one group for files.'}</p></td>
                </tr>
            {/if}
        </tbody>
    </table>
    {/form}
{/block}

{block head}
<script type="text/javascript">
    $(function() {
        $( "#frm-groupForm-state" ).change(function(){
            var source = $( "#frm-groupForm-state" ).val();
            $.nette.ajax({
                 type: 'POST',
                 url: {link secure!},
                 data: 'state='+source
            });
        });
        
    });
</script>
{/block}