/* 
    Stylesheet  : WESPR - General
    Created on  : 31.10.2013, 20:53:34
    Author      : David Ehrlich
    Licence     : MIT
*/

/*General ////////////////////////////////////////////////////////////////////////*/
html {
    position: static;
    top: 0px;
    left: auto;
    width: 979px;
    height: auto;
    font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
    font-size: 1em;
    color: rgb(0,0,0);
    margin: auto;
    background: rgb(255,255,255);
    /*border: 3px solid orange;*/
}

h1,h2,h3,h4 {
    color: rgb(0,0,0);
    margin: 0px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.2em;
}

ul {
    margin: 0;
}

#ajax-spinner {
	display: none;
	position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
	padding: 0;
        margin: 0;
	background: rgba(0, 0, 0, 0.6) url('images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
}

.help {
    cursor: help;
}

div.flash, div.flash.error {
    position: absolute;
    top: 20px;
    width: 60%;
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: auto;
    border-radius: 3px;
    z-index: 123456;
}

div.flash.error {
    color: rgb(255,255,255);
    background: rgb(150,0,0);
    border: 1px solid rgb(255,0,0);
}

div.flash.error a {
    color: rgb(255,255,255);
}

a {
    color: rgb(100,100,100);
    text-decoration: underline;
}

a:hover {
    color: rgb(0,0,0);
    text-decoration: none;
}

a[href^="error:"] {
    background: red;
    color: white;
}

/*Header area ////////////////////////////////////////////////////////////////*/
#header {
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 100px;
    bottom: 0px;
    padding: 5px;
    /*border: 1px solid red;*/
}

img.logo {
    margin-top: 1em;
    margin-right: 1em;
    float: right;
    border: 0;
}

/*Menu area //////////////////////////////////////////////////////////////////*/
#menuline {
    height: 47px;
    margin: auto;
}

#menuline ul {
    position: relative;
    height: 100%;
    text-align: right;
    margin: auto;
    padding: 0;
    border-bottom: 5px solid rgb(0,0,0);
}

#menuline li {
    display: inline-block;
    width: 17%;
    font-size: 1.3em;
    text-align: center;
    list-style: none;
    vertical-align: top;
    margin: 0;
    padding: 0;
    border: 5px solid rgb(0,0,0);
    border-radius: 3px;
}

#menuline li.long {
    width: 48%;
}

#menuline li.home {
    width: 5%;
    vertical-align: middle;
}

#menuline li.home a, #menuline li.home a:hover {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding: 7% 0;
}

#menuline li.home img {
    vertical-align: middle;
}

#menuline li.info {
    padding: 0.5%;
}

#menuline li.text a,#menuline li.file a,#menuline li.setting a,#menuline li.logout a, #menuline li.user a, #menuline li.user-current a, #menuline li.sign a,
#menuline li.text-current a, #menuline li.file-current a, #menuline li.setting-current a, #menuline li.sign-current a {
    display: block;
    width: 94%;
    height: auto;
    color: rgb(0,0,0);
    text-decoration: none;
    padding: 3%;
}

#menuline li.sign a, #menuline li.sign-current a {
    width: 94%;
    padding: 3%;
}

#menuline li.sign a:hover, #menuline li.sign-current a {
    color: rgb(255,255,255);
    background-color: rgb(230,0,0);
}

#menuline li.info a {
    color: rgb(150,150,150);
}
#menuline li.info a:hover {
    color: rgb(0,0,0);
}

/*Submenu area ///////////////////////////////////////////////////////////////*/
#submenuline-article, #submenuline-file, #submenuline-setting, #submenuline-user {
    position: relative;
    top: -1px;
    left: 0;
    height: auto;
    background-color: rgb(230,230,230);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#submenuline-article ul, #submenuline-article ul.extends,
#submenuline-file ul, #submenuline-file ul.extends,
#submenuline-setting ul, #submenuline-setting ul.extends, 
#submenuline-user ul, #submenuline-user ul.extends {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    margin: 3px 0px 0px 5px;
    padding: 0px 0px 0px 0px;
}

#submenuline-article ul.extends, #submenuline-file ul.extends,
#submenuline-setting ul.extends, #submenuline-user ul.extends {
    clear: left;
}

#submenuline-article ul li.tools, #submenuline-file ul li.tools,
#submenuline-setting ul li.tools, #submenuline-user ul li.tools {
    border-right: 1px solid rgb(255,150,0); 
    background: black;
}

#submenuline-article li, #submenuline-file li, #submenuline-setting li, #submenuline-user li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px 10px 10px;
}

/*Content ////////////////////////////////////////////////////////////////////*/
#content {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    /*border: 1px solid rgb(0,0,200);*/
}

#main-area {
    position:static;
    width: 100%;
    height: auto;
    text-align: center;
}

/*Homepage Buttons*/
#homepage-button-text, #homepage-button-file, #homepage-button-settings {
    display: inline-block;
    position: relative;    
    top: auto;
    left: auto;
    width: 30%;
    height: auto;
    min-height: 30%;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 1%;
    border: 3px solid rgb(0,0,0);
    border-radius: 5px;
}

#homepage-button-text a, #homepage-button-file a, #homepage-button-settings a {
    display: block;
    font-size: 4em;
    color: rgb(0,0,0);
    text-decoration: none;
    padding-top: 15%; 
    padding-bottom: 15%; 
}

#status-area {
    position:static;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 1%;
}

#right-area {
    position: relative;
    top: auto;
    left: auto;
    width: 23%;
    height: auto;
    min-height: 500px;
    padding: 10px;
    margin: 10px 0px;
    float: right;
    background-color: rgb(230,230,230);
    border-radius: 3px;
    border: 1px solid rgb(100,100,100);
}

#right-area h3 {
    font-size: 1.5em;
    text-align: center;
    color: rgb(100,100,100);
    padding: 0px;
}

#right-area p {
    font-size: 0.8em;
    color: rgb(100,100,100);
    padding: 5px;
    margin: auto;
}

#right-area li {
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    font-size: 0.8em;
    color: rgb(100,100,100);
    list-style: square outside;
    padding: 0px;
    margin-left: -10px;
}

/*Form ///////////////////////////////////////////////////////////////////////*/
form {
    display: block;
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    clear: both;
    /*border: 1px solid red;*/
}

#form-full {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
    clear: both;
    /*border: 1px solid rgb(0,0,0);*/
}

#form-main {
    position: static;
    top: 0px;
    left: 0px;
    width: 48%;
    height: auto;
    min-height: 65px;
    float: left;
    padding: 1%;
}

#form-add {
    position: relative;
    top: 0px;
    right: 0px;
    width: 48%;
    height: auto;
    min-height: 65px;
    padding: 1%;
    float: right;
}

.form-add-h3 {
    position: relative;
    top: 0px;
    right: 0px;
    width: auto;
    min-width: 65px;
    height: 49px;
    padding: 0px;
    clear: both;
}

/*Form texts */
form h2 {
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    font-size: 2em;
    color: rgb(0,0,0);
    padding: 0px;
    margin: 0px;
    /*border: 1px solid red;*/
}

form h3 {
    position: static;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    text-align: left;
    font-size: 1.2em;
    color: rgb(100,100,100);
    padding: 0em;
    float: left;
}

form h4 {
    font-size: 1.2em;
    color: rgb(0,0,0);
}

label {
    font-size: 1.2em;
    clear: both;
}

form .note, form .warning, form .lower-note, form .lower-warning {
    font-size: 0.8em;
    color: rgb(150,150,150);
    padding: 0;
    margin-top: 0;
    margin-bottom: 1%;
    clear: both;
}

form .lower-note, form .lower-warning {
    text-align: left;
    margin-top: -1em;
}

form .warning {
    color: rgb(200,0,0);
}
form ul.note {
    padding: 0em 1em;
    list-style-position: inside;
}

form ul.note li {
    list-style: square;    
}

form ul.error  {
    color: rgb(255,255,255);
    background: rgb(150,0,0);
    border: 1px solid rgb(255,0,0);
    padding: 1em;
    margin: 1em 0;
    border-radius: 3px;
}

form ul.error li {
    list-style: none;
}

/*Form inputs */
input, textarea {
    width: 96%;
    color: rgb(100,100,100);
    padding: 1.5%;
    margin-bottom: 1.5em;
    border: 1px solid rgb(100,100,100);
    border-radius: 3px;
}

.select, .select_short {
    position: static;
    top: 0px;
    left: 0px;
    width: 95%;
    height: auto;
    color: rgb(100,100,100);
    padding: 1.2%;
    margin-bottom: 1.5em;
    border: 1px solid rgb(100,100,100);
    border-radius: 3px;
}

.select_short {
    display: inline-block;
    width: 48%;
    margin-right: 1%;
}

.text-short {
    display: inline-block;
    width: 45%;
    margin-right: 1%;
}

.upload {
    width: 96%;
    height: auto;
    color: rgb(100,100,100);
    padding: 0.5%;
    border: 1px solid rgb(100,100,100);
    border-radius: 3px;
}

label > input {
    width: auto;
    margin-right: 1em;
}

* > :last-child { 
    margin-right: 0;
}

/*select + select, input + input, input + select {
    margin-left: 35px;
}*/

/*From button area */
#form-button {
    position: static;
    top: auto;
    bottom: 0px;
    left: auto;
    width: 98%;
    height: 50px;
    padding: 10px;
    clear: both;
    /*border: 1px solid rgb(0,100,100);*/
}

.main-button, .add-button, .link-button {
    position: static;
    top: 0px;
    left: 0px;
    width: auto;
    min-width: 120px;
    height: auto;
    font-size: 1.2em;
    color: rgb(255,255,255);
    background: rgb(100,100,100);
    padding: 5px;
    margin-left: 20px; 
    float: right;
    border: 1px solid rgb(0,0,0);
    cursor: pointer;
}

.add-button {
    min-width: 80px;
    color: rgb(100,100,100);
    background: rgb(255,255,255);
    border: 1px solid rgb(0,0,0);
}

.link-button {
    min-width: 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

.icon input {
    position: relative;
    top: -5px;
    left: 0px;
    min-width: 30px;
    width: 30px;
    text-align: center;
    font-size: 1.2em;
    color: rgb(255,255,255);
    padding: 5px;
    margin: 3px;
    background-color: rgb(100,100,100);
    border: 1px solid rgb(0,0,0);
}

.icon input.auto {
    width: auto;    
}

.icon a {
    position: relative;
    top: -5px;
    left: 0px;
    height: 25px;
    width: 18px;
    text-align: center;
    font-size: 1.2em;
    color: rgb(255,255,255);
    padding: 4px 5px 6px 5px;
    margin: 3px;
    background-color: rgb(100,100,100);
    float: left;
    border: 1px solid rgb(0,0,0);
    border-radius: 3px;
}

/*Controls*/
.control-menu {
    position: fixed;
    width: 73%;
    padding: 1%;
    background-color: #E6E6E6;
    border-radius: 3px;
    z-index: 123;
}

/*Tables /////////////////////////////////////////////////////////////////////*/
table {
    position: static;
    width: 100%;
    height: auto;
    padding: 0px;
    margin-bottom: 10px;
    /*border: 1px solid black;*/
}

td, th {
    position: static;
    vertical-align: middle;
    padding: 1px;
    margin: 0px;
    border: 1px solid rgb(220,220,220);
    border-radius: 3px;
}

th {
    vertical-align: middle;
    padding: 3px;
}

th.icon {
    width: 160px;
    min-width: 100px;
    text-align: center;
    padding-top: 15px;
    vertical-align: middle;
    background-color: rgb(220,220,220);
}

td.public {
    background: url('images/public.png') no-repeat 0.5em;
    border: 1px solid rgb(0,120,220);
}

td.locked {
    background: url('images/lock.png') no-repeat 0.5em;
    border: 1px solid rgb(0,50,100);
}

td.nonpublic {
    background: url('images/nonpublic.png') no-repeat 0.5em;
    border: 1px solid rgb(220,220,220);
}

td:hover {
    background-image: none;
}

td.noicon {
    background: inherit;
}

td.notes {
    width: 30%;
    text-align: left;
    vertical-align: top;
}

table h2 {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    font-size: 2em;
    text-align: left;
    color: rgb(0,0,0);
    padding: 0px;
    margin: 0px;
}

table h3 {
    display: block;
    width: 87%;
    font-size: 1.4em;
    color: rgb(0,0,0);
    padding: 15px 1% 15px 9%;
    margin: auto;
}

table a {
    display: block;
    text-decoration: none;
}

table a.noblock {
    display: inline-block;
    text-decoration: underline;
}

table a.noblock:hover {
    display: inline-block;
    text-decoration: none;
}

table p, table p.help, table p.warning, table p.error {
    font-size: 0.9em;
    text-decoration: none;
    text-align: left;
    color: rgb(100,100,100);
    padding: 3px 1% 3px 9%;
    margin: 0px;
}

table p.help {
    cursor: help;    
}

table p.warning {
    color: rgb(255,100,0);
    cursor: help;    
}

table p.error {
    text-decoration: line-through;
    color: rgb(200,0,0);
    cursor: help;    
}

table .noicon p {
    padding: 3px;
}

/* All tables have class odd and even. */
table .odd > td {
    background-color: rgb(220,220,220);
}
table .even > td {
    background-color: rgb(255,255,255);
}

/*Table list layout */
tbody.list td {
    padding: 1%;
    margin: 0px;
}

tbody.list .images {
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 230px;
    height: 230px;
    z-index: 1;
}

tbody.list .images input {
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 0px;
    float: left;
    z-index: 3;
}

tbody.list .list-form {
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 73%;
    vertical-align: top;
    padding-left: 1%;
}

/* Table thumb layout */
ul.thumb {
    position: static;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
}

ul.thumb li {
    position: static;
    width: 230px;
    height: 230px;
    padding: 3px;
    margin: 0px;
    list-style: none;
    float: left;
}

ul.thumb .images {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 1;
}

ul.thumb input {
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 0px;
    float: left;
    z-index: 3;
}

/*Footer /////////////////////////////////////////////////////////////////////*/
footer {
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    width: 98%;
    height: 100px;
    padding: 10px;
    background-color: rgb(230,230,230);
    border-top: 5px solid rgb(0,0,0);
    border-radius: 3px;
    clear: both;
}

footer .info {
    position: static;
    top: 0px;
    left: 0px;    
    float: right;
}
footer .info p {
    text-align: right; 
    font-size: 0.8em;
    color: rgb(100,100,100);
    margin: 0px;
    padding: 0px;
}

footer .info p.note {
    text-align: right;
    font-size: 0.6em;
    color: rgb(100,100,100);
    margin: 0px;
    padding: 0px;
    clear: both;
}

footer .info img {
    padding: 10px 0px 10px 0px;
    float: right;
}