{* Latte template *}

{block #content}
    <h1>{_'Čekám na ověření registrace'}</h1>
    <p>{_'Ověření provedete kliknutím na odkaz z emailu, nebo odkaz nakopírujte do adresního řádku prohlížeče.'}</p>
    <p>{_'Ověření provedete kliknutím na odkaz z emailu, nebo odkaz nakopírujte do adresního řádku prohlížeče.'}</p>
{/block}