<div id="submenuline-user">
    <ul>
        <li><a href="{plink User:}" n:class="$presenter->isLinkCurrent('User:') ? user-current : user">{_'Edit profile'}</a></li>
        <li><a n:href="signOut!">{_'Sign out'}</a></li>
    </ul>
</div>